.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: calc(100vh - 72px);
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #39414d;
}

.App-link {
  color: #09d3ac;
}
.App > header {
  background: #c7d0d8;
}
.App> header > div.MuiToolbar-root{
  justify-content: space-between;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 150px;
  justify-content: space-between;
  background: #99a6b5;
  padding: 30px;
  margin: 0 auto;
}
h1 {
  margin: 0;  
}
.MuiPaper-root {
  background: #99a6b5 !important;
}
.wrapper-check span {
  width: 24px;
}
.wrapper-check {
  display: flex;
}
li {
  text-align: left;
}